/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.google.com/specimen/Sofia+Sans+Condensed:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');

html {
  /*-- Main font sizes --*/
  --title-size:      32px;
  --body-size:       1.03rem;
  --code-size:       14px;
  --aside-size:      13px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:   'Sofia Sans Condensed', serif;
  --mono-font:       monospace;
  --body-font:       'Roboto Slab', sans-serif;
  --navbar-font:     'Play', sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline, .d-byline {
  --heading-size:    0.9rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       1rem;
  --body-color:      rgba(0, 0, 0, 0.8);
  --font-weight:     400;
	--padding:         0rem 0 0rem 0;
	--margin-top:      0px;
  --margin-bottom:   0px;
	--line-height:     1em;
	--font-family: 'Sofia Sans Condensed';
}

d-byline p.author, d-byline .authors-affiliations, d-byline p {
  font-size: 1.05em !important;
  font-weight: 500 !important;
  font-family: 'Sofia Sans Condensed';
}


@media (min-width: 1180px) {
.base-grid, distill-header, d-title, d-abstract, d-article, d-appendix, distill-appendix, d-byline, d-footnote-list, d-citation-list, distill-footer {
grid-column-gap: 64px;
 }
}


/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    16px;
  --contents-size:   12px;
  --font-family: 'Roboto Condensed';
}

.d-contents nav h3{
  font-family: 'Roboto Condensed';
  color: white;
  font-size: 0px !important;
	font-weight: 600 !important;
	letter-spacing: 0px !important;
	line-height: 0em !important;
}

.d-contents nav > ul > li > a {
  font-family: 'Roboto Condensed';
  font-size: 16px;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
  }
  
.d-contents nav > ul > li > ul > li > a {
  font-family: 'Roboto Condensed';
  font-size: 13px;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 0.1em;
  }


/*-- ARTICLE APPENDIX --*/
d-appendix, .d-appendix .d-appendix {
  --heading-size:    18px;
  --heading-color:   rgba(0, 0, 0, 0.8);
  --text-size:       0.9em;
  --text-color:      rgba(0, 0, 0, 0.8);
  margin-top:      10px;
  margin-bottom:   10px;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-footer {
  --text-color:       #fefdff;
  --text-size:        15px;
  --hover-color:      #dfb229;
  --bkgd-color:       #03578a;
}

.distill-site-header {
  --hover-color:      #dfb229;
  --bkgd-color:       #14191e;
}


.distill-site-header {
  color:#fefdff;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 1.1px;
  font-weight: 400;
}

.distill-site-header .title{
  color:#fefdff;
  font-size: 22px;
  font-style: normal;
  letter-spacing: 1.1px;
  font-weight: 400;
}

.distill-site-header .logo img{
  max-height: 35px;
  font-family: 'Play', sans-serif;
  margin-bottom: -10px;
  padding-top: 3px;
}

.distill-site-nav {
  color: #fefdff;
  font-family: 'Play', sans-serif;
  font-size: 20px;
}

.distill-site-nav a:hover {
  color: #dfb229;
}

.distill-site-nav a {
  color:#fefdff;
  text-decoration: none;
}

html, body, p {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  line-height: 1.6; 
  font-size: 0.95em;
  letter-spacing: 0px;
  color: #383838;
  font-style: normal;
}

.posts-list .metadata .publishedDate {
    color: #e05915;
}

.posts-list .post-preview p,
.posts-list .description p {
  font-size: 14px;
  font-family: "Roboto Condensed", "PT Sans Narrow", sans-serif;
  }


 .posts-list .posts-list-caption .post-preview-last h1,
 .posts-list .posts-list-caption,
 .d-article .posts-container h1,
 .posts-list .posts-list-caption h1,
 .posts-list .post-preview-last h1{
  font-family: 'Sofia Sans Condensed';
  line-height: 0.5; 
  font-size: 32px;
  letter-spacing: 1.2px;
  font-weight: 700;
}

d-title p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.55em;
  grid-column: text;
}

 .d-title .d-title h1,
  d-title.d-title h1,
  d-title h1, .posts-list > h1{
  font-family: 'Sofia Sans Condensed';
  line-height: 1; 
  font-size: 32px;
  letter-spacing: 1.2px;
  font-weight: 700;
}

.posts-list .post-preview h2, 
.posts-list .description h2 {
  font-family: 'PT Sans Narrow';
  line-height: 1;
  color: black !important;
  text-align:left !important;
  font-size: 1.3em !important;
  letter-spacing: 1px;
  font-weight: 600;
}

h2, d-title h2 {
  font-family: 'PT Sans Narrow';
  line-height: 1; 
  font-size: 1em;
  font-style: normal;
  letter-spacing: 1.4px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

d-article h3 {
    margin-top: 4px;
    margin-bottom: 12px;
    font-family: 'Roboto Condensed';
    font-size: 20px;
  }

d-article h2 {
  text-align: center;
  font-family: 'Sofia Sans Condensed';
  line-height: 1; 
  font-size: 46px !important;
  color: #673509c9 !important;
  letter-spacing: 0.5px;
  font-weight: 600;
}

code, code.r{
  font-family: 'Consolas', "Roboto Mono", "Ubuntu Mono", monospace;
  color: #431c5d;
  line-height: 1.2; 
  font-weight: 400;
  font-size: 1em;
  padding: 1px 0px;
  word-wrap: break-word; 
  white-space: pre-wrap;
}

d-article div.sourceCode code, 
d-article pre code{
  font-family: 'Consolas', "Roboto Mono", "Ubuntu Mono", monospace;
  line-height: 1.2; 
  font-weight: 400;
  font-size: 1.1em;
}

d-article div.sourceCode pre {
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(0, 0, 0, 0.02);
  padding: 10px 18px;
  border-radius: 3px;
}

d-article a {
    border-bottom: 1px solid rgba(67, 28, 93, 0.4);
    text-decoration: none;
}

.d-article .ul,
.d-article .li {
  font-family: 'PT Sans', sans-serif;
  font-weight: 200;
  line-height: 0.9;
  margin-bottom: 0.4em;
  font-size: 0.95em;
  letter-spacing: 0.2px;
  color: #383838;
  font-style: normal;
}

d-article blockquote {
  border-left: 5px solid #dfb229;
  color: #403f3c;
  background-color: #e6e9f0 !important;
  font-size: 1.0em;
  padding-bottom: 0em;
  padding-top: 0.6em;
  padding-left: 0.6em;
}

.posts-list .dt-tags .dt-tag, 
.dt-tags .dt-tag {
  padding-top: 0.1em;
  padding-right: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 0.3em;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto Condensed", "PT Sans Narrow", sans-serif;
  text-transform: lowercase;
  background-color: #e6e9f0;
  font-weight: 300;
}

element, d-article details{
	font-size: 14px;
	color: #e05915;
}

td {  /* Table  */
  font-size: 14px;
  font-family: "Roboto Condensed", "PT Sans Narrow", sans-serif;
}

th {  /* Table Header */
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto Condensed", "PT Sans Narrow", sans-serif;
}

div.datatables {
 height: auto !important;
}

table.dataTable tbody td { 
  padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-size: 14px; 
	line-height: 1.3em;
  background-color:#ece3d829;
}

table.dataTable tbody th { 
  padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-size: 14px; 
	line-height: 1.3em;
	background-color: #936a6c2e !important;
}

div.blue { 
  background-color:#FFFBE6;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  margin-bottom: 10px;
}

div.blue a, div.blue p {
  color: #003470;
  font-family: "Roboto";
  font-size: 1em;
  letter-spacing: 0.2px;
  vertical-align: middle;
  padding-top: 0%;
  padding-right: 1%;
  padding-bottom: 0%;
  padding-left: 1%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

button.dt-button, div.dt-button, a.dt-button, input.dt-button, div.dt-button-split .dt-button,
div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button {
  padding-top:3px !important;
  padding-bottom:3px !important;
  border-radius: 5px !important;
  font-family: "Play" !important;
  font-size: 12px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
 padding: 1px 3px;
color: #18993 !important;
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
  font-family: "Play" !important;
  font-size: 14px !important;
  padding-left:10px !important;
}


.form-control {
  height: 30px;
  padding: 4px 8px;
  line-height: 1.4;
  border-radius: 3px;
}

div.dt-buttons>.dt-button,
div.dt-buttons>div.dt-button-split .dt-button {
  position:relative;
  display:inline-block;
  box-sizing:border-box;
  margin-left:.167em;
  margin-right:.1em;
  margin-bottom:.2em;
  padding:3px 3px;
  border:1px solid rgba(0, 0, 0, 0.3);
  border-radius:5px;
  cursor:pointer;
  font-family: "Play" !important;
  font-size: 12px !important;
  line-height:1.6em;
  color:inherit;
  white-space:nowrap;
  overflow:hidden;
  background-color:rgba(0, 0, 0, 0.1);
  background:linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="rgba(230, 230, 230, 0.1)", EndColorStr="rgba(0, 0, 0, 0.1)");
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  text-decoration:none;
  outline:none;
  text-overflow:ellipsis
}

d-article hr {
  grid-column: screen;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(109, 103, 60, 0.23);
  margin-top: 20px; 
  margin-bottom: 20px;
}
